/* theme */
:root {
  --font-family: 'Open Sans', sans-serif;
  --primary: #e74c3c;
  --dark: #2c3e50;
  --danger: #e74c3c;
  --background-light: #ecf0f1;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
}

/* reset */

* {
  box-sizing: border-box;
}

html,
body {

  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--font-family);
  background-color: var(--background-light);
}


h1,
p {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* container */

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-color);

}

/* text */

.text-danger {
  color: var(--danger);
  font-size: 1.2rem;
  font-weight: bold;
}

/* button */

.btn {
  background-color: white;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.6rem;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
  box-shadow: var(--box-shadow);
}


.btn-primary {
  background-color: var(--primary);
  color: var(--text-color-light);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--text-color-light);
}

.btn-small {
  padding: 5px 10px;
  font-size: 1.4rem;
}

.low-opacity {
  opacity: 0.5;
}


.content {
  /* max-width: 100rem;
    width: 100%; */
  /* flex: 1; */
  display: flex;
  /* flex-flow: row; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.carrousel {
  /* max-width: 100rem;
    width: 100%; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* flex-flow: row; */
  flex-basis: 50px;
}

/* block */

.block {
  border-radius: 3px;
  border: var(--border);
  background-color: white;
  box-shadow: var(--box-shadow);
}

/* utils */

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}



.form-container {
  display: flex;
  flex-flow: column;
  width: 40rem;
}

.form-container h1 {
  margin-bottom: 2rem;
}

.form-control {
  display: flex;
  flex-flow: column;
  margin: 1rem 0;
}

.form-control label {
  margin-bottom: 1rem;
}

.form-control input {
  border: var(--border);
  border-radius: 3px;
  padding: 1rem 1.5rem;
}

.form-control select {
  border: var(--border);
  padding: 1rem 1.5rem;
}

.form-control textarea {
  border: var(--border);
  padding: 1rem 1.5rem;
  min-height: 10rem;
}

.form-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}